@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(4, 61, 65);
  background: linear-gradient(270deg, rgb(4, 61, 65) 0%, rgb(82, 198, 204) 100%);
}

.grid-item-tres a {
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-size: 1rem;
  background-color: c;
  padding: 10px;
  border-radius: 5px;
}
.grid-item-tres a:hover {
  color: red;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-cards div {
  margin: 25px;
}
.container-cards div h5 {
  font-size: 2rem;
}
.container-cards div p {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

footer {
  margin-top: 70px;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  background: rgb(4, 61, 65);
  background: linear-gradient(90deg, rgb(4, 61, 65) 0%, rgb(82, 198, 204) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
footer p {
  font-size: 0.8rem;
  color: #80F9FF;
}

.container-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-galeria .container {
  background-color: #22dae4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 15px;
  padding: 15px;
  gap: 15px;
  flex-wrap: wrap;
  border-radius: 5px;
}
.container-galeria .container div .uno {
  background-color: rgb(4, 61, 65);
  grid-row: 1/2;
  grid-column: 1/2;
  border-radius: 5px;
  padding: 15px;
}
.container-galeria .container div .dos {
  background-color: rgb(4, 61, 65);
  grid-row: 1/2;
  grid-column: 2/3;
  border-radius: 5px;
  padding: 15px;
}
.container-galeria .container div .tres {
  background-color: rgb(4, 61, 65);
  grid-row: 1/2;
  grid-column: 3/4;
  border-radius: 5px;
  padding: 15px;
}
.container-galeria .container div .cuatro {
  background-color: rgb(4, 61, 65);
  grid-row: 2/3;
  grid-column: 1/2;
  border-radius: 5px;
  padding: 15px;
}
.container-galeria .container div .cinco {
  background-color: rgb(4, 61, 65);
  grid-row: 2/3;
  grid-column: 2/3;
  border-radius: 5px;
  padding: 15px;
}
.container-galeria .container div .seis {
  background-color: rgb(4, 61, 65);
  grid-row: 2/3;
  grid-column: 3/4;
  border-radius: 5px;
  padding: 15px;
}

header nav {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid gray;
  animation-name: cambiarcolor;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 1s;
}
header img {
  width: 200px;
}
header .navbar li {
  padding: 25px;
}
header a {
  transition: 0.5s !important;
}
header a:hover {
  color: yellow !important;
  margin: 5px;
}

main {
  margin-top: 120px;
}
main section p {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 681px) {
  .navbar li a {
    font-size: 0.8rem;
  }
  main section p {
    font-size: 1rem;
  }
  footer div p {
    font-size: 0.5rem;
  }
  footer .grid-item-tres a {
    font-size: 0.5rem;
  }
  footer .grid-item-cuatro a img {
    width: 50%;
  }
}
.nav-link-uno, .nav-link-cinco, .nav-link-cuatro, .nav-link-tres, .nav-link-dos {
  background-color: #80F9FF;
  color: grey;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}

.icono-whp {
  transition: all 2s;
}
.icono-whp:hover {
  transform: rotate(360deg);
}

@keyframes cambiarcolor {
  0% {
    background-color: #52C6CC;
  }
  50% {
    background-color: #043d41;
  }
  100% {
    background-color: #52C6CC;
  }
}

/*# sourceMappingURL=style.css.map */
