//base
@import "base/fonts";
@import "base/reset";

//components
@import "components/buttons.scss";
@import "components/cards.scss";


//layout
@import "layout/footer";
@import "layout/galeria-imagenes";
@import "layout/header";
@import "layout/main";
@import "layout/media681";


