//transformaciones

.icono-whp{

    cursor: pointer;
        width: 3rem;
        //posiiton
        position: fixed;
        right: 25px;
        bottom: 10px;
    
        transition: all 2s;
    
        &:hover {
            transform: rotate(360deg);
        }

}