@import "../utilities/variables";

.container-galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    .container{
        background-color: #22dae4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 15px;
        padding: 15px;
        gap: 15px;
        flex-wrap: wrap;
        border-radius: 5px;
        div{
            .uno {
                background-color: $color-footer;
                grid-row: 1/2;
                grid-column: 1/2;
                border-radius: 5px;
                padding: 15px;
            }
        
            .dos {
                background-color: $color-footer;
                grid-row: 1/2;
                grid-column: 2/3;
                border-radius: 5px;
                padding: 15px;
            }
        
            .tres {
                background-color: $color-footer;
                grid-row: 1/2;
                grid-column: 3/4;
                border-radius: 5px;
                padding: 15px;
            }
        
            .cuatro {
                background-color: $color-footer;
                grid-row: 2/3;
                grid-column: 1/2;
                border-radius: 5px;
                padding: 15px;
            }
        
            .cinco {
                background-color: $color-footer;
                grid-row: 2/3;
                grid-column: 2/3;
                border-radius: 5px;
                padding: 15px;
            }
        
            .seis {
                background-color: $color-footer;
                grid-row: 2/3;
                grid-column: 3/4;
                border-radius: 5px;
                padding: 15px;
            }
        }

    }
}