
@import "../utilities/variables";

header{

    nav{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        border-bottom: 1px solid gray;
        //propiedades animaciones
        animation-name: cambiarcolor;
        //cuantas veces se repite
        animation-iteration-count: infinite;
        //velocidad animacion
        animation-timing-function: ease-in;
        //duracion
        animation-duration: 5s;
        //tiempo de espera para que inicie
        animation-delay: 1s;
    }
    img{
        width: 200px;
    }
    .navbar{
        li {
                padding: 25px;
            }

    } 
    a{
        transition: 0.5s !important;
        &:hover{
            color: yellow !important;
                margin: 5px;
        }
    }

}

