
@import "../utilities/variables";

header{

    nav{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        background-color: $color-footer;
        border-bottom: 1px solid gray;
    }
    img{
        width: 200px;
    }
    .navbar{
        li {
                padding: 25px;
            }

    } 
    a{
        transition: 0.5s !important;
        &:hover{
            color: yellow !important;
                margin: 5px;
        }
    }

}