.grid-item-tres {
    a {
        text-decoration: none;
        color: rgb(27, 27, 27);
        font-size: 1rem;
        background-color: c;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            color: red;
        }
    }

}